*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Preconnect", sans-serif;
    color: #212121;
    letter-spacing: 0.9px;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

:root {
    --white: #FFFFFF;
    --brilliantazure: #24A3FF;
    --background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    --balck: #000000;
    --deepkoamaru: #323264;
    --grey: #B3B3BA;
    --independence: #46466E;
    --cultured: #F5F5FA;
    --raspberry: #F0145A;
    --brightgray: #E6E6F0;
    --box-shadow: 0px 0px 20px 0px #24A3FF80;
    --background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    --fontsizep: 16px;
    --padding: 2%;
    --fontweight: 700;
}

.bg-gray {
    background-color: var(--cultured);
}

.bg-white {
    background-color: var(--white);
}

.active {
    color: var(--raspberry);
    font-size: var(--fontsizep);
    line-height: 19.5px;
}

body {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--fontsizep);
    line-height: 19.5px;
}

.gradient {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.facebook-header {
    color: var(--grey);
    transition: color 0.3s ease;
}

.facebook-header:hover {
    color: var(--raspberry);
}

.header-block {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header-block-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.header-block-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.header-block-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    position: relative;
    z-index: 2;
}

.header-block-button button {
    width: 19px;
    height: 19px;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: var(--fontweight);
    cursor: pointer;
    background-color: var(--background);
    color: var(--white);
}

.header-block-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.header-block-text p {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    color: var(--grey);
}

.header-block-text h2 {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: 700;
    color: var(--white);
}

.header-block-text span {
    width: 6px;
    height: 6px;
}

.header-nav-description {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-nav-descriptions {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.section1-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 800px;
    justify-content: space-between;
}

.section1-block-text {
    padding-top: 238px;
    position: relative;
    z-index: 1;
    font-size: 38px;
    line-height: 46.32px;
    font-weight: var(--fontweight);
    color: var(--white);
}

.section1-block-image {
    position: absolute;
    top: calc(86% - 799px);
}

.section1-block-button button {
    border-radius: 50px;
    background: none;
    cursor: pointer;
    animation: pendulum 1.5s linear infinite;
    transition: 0.5s;
}

.section1-block-button button:hover {
    background: var(--raspberry);
}

@keyframes pendulum {

    0%,
    100% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1.2);
    }
}

.section2-block {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
}

.section2-blok-description {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.section2-block-descriptions h2 {
    font-size: 38px;
    line-height: 46.32px;
    font-weight: var(--fontweight);
    color: var(--grey);
    cursor: pointer;
}

.section2-block-descriptions:hover {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section2-block-right {
    width: 581px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.section2-block-right h2 {
    font-size: 30px;
    line-height: 36.57px;
    font-weight: 700;
    color: var(--white);
}

.section2-block-right p {
    font-size: 19px;
    line-height: 30px;
    color: var(--white);
}

.section3-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
}

.section3-block-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.section3-block-top h2 {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    line-height: 46.32px;
    font-weight: 700;
}

.section3-block-nav a {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
}

.section3-block-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section3-block-descriptions {
    padding-top: 60px;
    width: 356px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.section3-block-descriptions a {
    font-size: 22px;
    line-height: 26.82px;
    font-weight: 700;
    color: var(--brilliantazure);
}

@keyframes text {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.section3-block-descriptions a:hover {
    background: #F0145A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 1s infinite ease-in-out;
}

.section3-block-descriptions p {
    font-size: var(--fontsizep);
    line-height: 26px;
    color: var(--white);
}

.section3-block-image img {
    padding: var(--padding);
    border-radius: 24px;
    background-color: var(--white);
}

.section4-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.section4-block-top {
    display: flex;
    flex-direction: row;
}

.section4-block-text {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section4-block-text a {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
}

.section4-block-text span {
    font-size: 38px;
    line-height: 46.32px;
    font-weight: var(--fontweight);
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section4-block-text2 h2 {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--grey);
}

.section4-block-text2 p {
    font-size: 14px;
    line-height: 22px;
    color: var(--grey);
}

.section4-block-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.section4-block-button button {
    width: 16px;
    height: 16px;
    background-color: var(--grey);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.section4-block-button button:hover {
    background-color: var(--brilliantazure);
    opacity: 20%;
    width: 16px;
    height: 16px;
}

.section5-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.section5-block h2 {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: var(--fontweight);
    color: var(--deepkoamaru);
}

.section6-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section6-block-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section6-block-top a {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
}

.section6-block-top h2 {
    font-size: 38px;
    line-height: 46.32px;
    font-weight: var(--fontweight);
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section6-block-bottom {
    padding-top: 20px;
}

.section6-block-description {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.section6-block-descriptions {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--white);
}

.section6-block-text3 {
    padding: var(--padding);
}

.section6-block-descriptions h2 {
    width: 320px;
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: 700;
    color: var(--brilliantazure);
}

.section6-block-descriptions img {
    width: 320px;
}

.section6-block-descriptions p {
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 700;
    color: var(--grey);
}

.section6-block-text2 p {
    font-size: 14px;
    line-height: 22px;
    color: var(--balck);
}

.footer-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-block-top {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: solid 2px var(--brightgray);
}

.footer-block-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.footer-block-text p {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    color: var(--deepkoamaru);
}

.footer-block-text a {
    font-size: 12px;
    line-height: 14.63px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
}

.footer-block-text2 h2 {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    color: var(--grey);
}

.footer-block-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.footer-block-text3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.footer-block-text3 h2 {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--independence);
}

.footer-block-text3 a {
    font-size: var(--fontsizep);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--brilliantazure);
}