.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --white: #ffffff;
  --brilliantazure: #24a3ff;
  --background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  --balck: #000000;
  --deepkoamaru: #323264;
  --grey: #b3b3ba;
  --independence: #46466e;
  --cultured: #f5f5fa;
  --raspberry: #f0145a;
  --brightgray: #e6e6f0;
  --box-shadow: 0px 0px 20px 0px #24a3ff80;
  --background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  --fontsizep: 16px;
  --padding: 2%;
  --fontweight: 700;
}

.bg-gray {
  background-color: var(--cultured);
}

.active {
  color: var(--raspberry);
  font-size: var(--fontsizep);
  line-height: 19.5px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fontsizep);
  line-height: 19.5px;
}

.header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}

.header-block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.header-block-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header-block-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.header-block-button button {
  width: 19px;
  height: 19px;
  font-size: 12px;
  line-height: 14.63px;
  font-weight: var(--fontweight);
  cursor: pointer;
  background-color: var(--background);
  color: var(--grey);
}

.header-block-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.header-block-text p {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  color: var(--grey);
}

.header-block-text h2 {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: 700;
  color: var(--grey);
}

.header-block-text span {
  width: 6px;
  height: 6px;
}

.header-nav-description {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-nav-descriptions {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: 700;
}

.active {
  color: var(--raspberry);
  border-bottom: 3px solid var(--raspberry);
}

ul > li > a {
  color: var(--brilliantazure);
}

.facebook-header {
  color: var(--grey);
  transition: color 0.3s ease;
}

.facebook-header:hover {
  color: var(--raspberry);
}

.section1-team {
  padding: var(--padding);
  margin-top: 20px;
}

.section1-team h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  background: linear-gradient(298deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 180px;
}

.team-cards {
  margin-top: 50px;
}

.cards-block {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.card-team {
  width: 400px;
  height: 462px;
}

.card-team img {
  border-radius: 12px;
  width: 350px;
  height: 370px;
}
.card-team-about {
  display: flex;
  justify-content: space-between;

  padding-top: 15px;
}
.text-team {
  line-height: 140%;
}

.text-team p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--grey);
}

.text-team h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--main---regular);
}

.card-team-about svg:hover path {
  stroke: var(--raspberry);
}

.footer-block {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-block-top {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid 2px var(--brightgray);
}

.footer-block-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.footer-block-text p {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  color: var(--deepkoamaru);
}

.footer-block-text a {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: var(--fontweight);
  color: var(--brilliantazure);
}

.footer-block-text2 h2 {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  color: var(--grey);
}

.footer-block-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.footer-block-text3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.footer-block-text3 h2 {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: var(--fontweight);
  color: var(--independence);
}

.footer-block-text3 a {
  font-size: var(--fontsizep);
  line-height: 19.5px;
  font-weight: var(--fontweight);
  color: var(--brilliantazure);
}
